<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Quiz</h4>
    </div>
    <div class="modal-body">
      <%= form_for(:quiz, :url => quiz_path(:evaluation_id => @evaluation.id, :id => @quiz.id), remote:true, :html => {:method => :put, :id=>"quiz-edit-form"}) do |f| %>
          <%= render(:partial => "quizzes/edit_form", :locals => {:f => f})%>
          </div>
          <div class="modal-footer">
            <%= submit_tag("Edit Quiz", :class => 'btn btn-success', id: 'edit-quiz-submit') %>
          </div>
      <% end %>
      </div>
</div>