<% if @quiz.errors.any? %>
$('.container').html("<div class=\"alert alert-warning fade in\"><button class=\"close\" data-dismiss=\"alert\">x</button><%= @quiz.errors.full_messages.join(', ') %></div>\n");
<% else %>
$('.container').html("<div class=\"alert alert-success fade in\"><button class=\"close\" data-dismiss=\"alert\">x</button>Quiz created successfully</div>\n");
<% end %>
$('.quizzes').html("<%= j render "quizzes/quiz_list" %>")
$('#new_quiz_modal').modal('hide')
$('#new_quiz_modal').find('form input[type="text"]').val('')

