<body id="page1">
<div class="row">
  <p class="horizontal_align font-open-sans footer">1117 St. Catherine W., Suite 507, Montreal, Qc H3B 1H9.
    T. 514 840.9075 / F. 514 844.0058. info@atpalcanada.com. </p>
  <p class="horizontal_align font-open-sans footer">w &nbsp; w &nbsp; w &nbsp; . &nbsp; a &nbsp; t &nbsp; p &nbsp; a
    &nbsp;l &nbsp; c &nbsp; a &nbsp; n &nbsp; a &nbsp; d &nbsp; a &nbsp; . &nbsp; c &nbsp; o &nbsp; m</p>
    <%= wicked_pdf_image_tag 'footer.png', :size => '1275x59' %>
</div>
</body>