<div class="nested-fields">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th><%= f.label(:name, "Name")%></th>
      <th>Add item</th>
      <th>Remove Item</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= f.text_field(:name, :class=>"form-control")  %></td>
    </tr>
    </tbody>
  </table>
</div>