<div class="container pro-forma-forms">
  <div class="row">
    <div class="col-md-12 margin-bottom padding-bottom">
      <h3 class="text-center" value="pro" id="title">Add New Pro Forma</h3>
    </div>
    <%= link_to('Back to student page', student_path(@student.id), class: "student_back_link") %>
  </div>
  <div class="row padding-bottom margin-bottom">
    <div class="col-md-12">
      <%= form_for(@pro_forma, :url => student_pro_formas_path(:student_id => @student.id)) do |f| %>

          <%= render(:partial => "form", :locals => {:f => f})%>

          <%= submit_tag("Create Pro-Forma", :class => 'btn btn-success', :id=>"create-quote") %>

      <% end %>
    </div>
  </div>
</div>
