$atpalGreen: #A2BB26;
$atpalPurple: #9F4FBC;
$atpalGrey: #646464;

#img-format{
  height: 52%;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.img-format-type{
  height: 52%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}


#agencies{
  height: 55%;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.fig_adm{
  height: 50% !important;
  width: 50% !important;
}

.fig-adm-eval{
  margin-top: 130px !important;
  height: 55% !important;
  width: 55% !important;
}


.ipc{
  padding: 20px 20px 20px 20px
}

