// Place all the styles related to the DigitalTests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#img-format-aca{
  height: 60%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.fig-adm-aca{
  height: 55% !important;
  width: 55% !important;
  margin-top: 130px !important;
}

.figure-groups{
  height: 55% !important;
  width: 55% !important;
}