<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        Create and upload Test
      </h3>
    </div>
  </div>
  <div class="row">
    <%= form_for(:test, :url => tests_path(:evaluation_id => @evaluation.id), :html => { :id=>'tests-form', :multipart => true }) do |f| %>
        <%= render(:partial => "tests/edit_form", :locals => {:f => f})%>

        <div class="form-group">
          <%= submit_tag("Create Test", :class => 'btn btn-success', :id=>"") %>
        </div>
    <% end %>
  </div>
</div>